body {
    padding-top: 70px;
}
.jumbotron {
    color: #2c3e50;
}
.navbar
{
    background: #2c3e50;
}

.navbar .navbar-nav>li>a {
    color: white;
} /*here we are overwriting the color from the previous CSS rule 
    .navbar
    {
    background: #2c3e50;
    }
    so that the <a> tags inside the navbar are colored white
    instead of grey, which comes from this .navbar rule.
    This rule is more specific than the previous .navbar rule.
    So this rule will override the previous rule.
    Same with the below rule, which is for the "Home" link in the navbar.
    doing
    a {
        color: white;
    }
    will not work since it does not have enough specificity
    */

.navbar .navbar-brand {
    color: white;/*changes color of "Home" in navbar*/
}

.p {
    height: 405px;
}

.q {
    height: 425px;
}