@import "variables";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%
}

body {
    background: #FFFAFA;
    font-family: 'Titillium Web', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
}

.header {
    height: 100vh;
    background-image: url("cup.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, .5fr) .25fr 1fr;
    align-items: start;
    justify-items: center;

    &__main {
        grid-column: 2 / -1;
        grid-row: 2 / 3;
        color: #FFFAFA;
        text-align: justify;
        font-size: $medium-font-size-vw;
    }
}



@media only screen and (min-width: 600px) {
    .header {
        grid-template-columns: 1fr 100px 1fr 1fr;
    }
    .navbar__link {
        &--1 {
            font-size: $medium-font-size-vw;
        }
        &--2 {
            font-size: $medium-font-size-vw;
        }
        &--3 {
            font-size: $medium-font-size-vw;
        }
        &--4 {
            font-size: $medium-font-size-vw;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .header__main {
        grid-column: 3 / -1;
    }
}

.navbar__link{
    &--1 {
        @include style-link;
        justify-self: end;
        grid-row: 4 / -1;
        grid-column: 1 / 2;
    }
    &--1:hover hr{
        width: $hover-width;
    }
    &--2 {
        @include style-link;
        justify-self: start;
        align-self: start;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    &--2:hover hr{
        width: $hover-width;
    }
    &--3 {
        @include style-link;
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        justify-self: end;
    }
    &--3:hover hr{
        width: $hover-width;
    }
    &--4 {
        @include style-link;
        justify-self: start;
        grid-row: 4 / -1;
        grid-column: 4 / 5;
    }
    &--4:hover hr{
        width: $hover-width;
    }
}

@media only screen and (max-width: 600px) {
    .header__main {
        font-size: $small-font-size;
    }
    .navbar__link {
        &--1 {
            font-size: $small-font-size;
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            align-self: center;
            justify-self: start;
        }
        &--2 {
            font-size: $small-font-size;
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            align-self: start;
            justify-self: center;
        }
        &--3 {
            font-size: $small-font-size;
            grid-column: 3 / 4;
            grid-row: 4 / 5;
            align-self: start;
            justify-self: start;
        }
        &--4 {
            font-size: $small-font-size;
            grid-column: 3 / 4;
            grid-row: 4 / 5;
            align-self: center;
            justify-self: center;
        }
    }
}

@media only screen and (min-width: 1100px) {
    .navbar__link {
        &--1 {
            align-self: center;
        }
        &--2 {
            align-self: end;
        }
        &--3 {
            align-self: end;
        }
        &--4 {
            align-self: center;
        }
    
    }
}

hr {
    border: 2px solid royalblue;
    width: 4rem;
    position: absolute;
    transition: width 0.5s;
}

.main {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20vw 40vh;
}

 