* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

body {
  background: #eee;
  font-family: 'Titillium Web', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto); }

/******************** HEADER ********************/
.header {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 237, 210, 0.2), rgba(0, 174, 233, 0.2)), url("cup.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 0.5fr) 0.25fr 1fr;
  align-items: start;
  justify-items: center; }
  .header__main {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    color: #FFFAFA;
    text-align: left;
    font-size: 2.5vw; }

hr {
  border: 2px solid royalblue;
  width: 4rem;
  position: absolute;
  transition: width 0.5s; }

#navbar {
  overflow: hidden;
  z-index: 1; }
  #navbar > a {
    padding: 10px;
    margin: 10px; }

.hidden {
  display: none; }

.appear {
  display: inline-block;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, #00edd2, #0065e9);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; }

/******************** ABOUT ME SECTION ********************/
.about_me {
  text-align: center;
  background-size: cover;
  display: grid;
  grid-template-columns: .3fr .7fr;
  grid-template-rows: .3fr .7fr;
  align-items: center;
  justify-items: center;
  gap: 15px;
  padding: 1rem; }
  .about_me__heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1.5rem;
    width: 250px;
    background-image: linear-gradient(to bottom, #00edd2, #0065e9);
    color: whitesmoke;
    border-radius: 60px;
    padding: 15px;
    box-shadow: 3px 3px 10px black; }
  .about_me__info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: left;
    font-size: 170%;
    background-image: linear-gradient(to bottom, #00edd2, #0065e9);
    background-clip: text;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    color: transparent; }
  .about_me__icon {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
  .about_me__education {
    background-image: linear-gradient(to bottom, #00edd2, #0065e9);
    background-clip: text;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: start;
    align-self: start; }
    .about_me__education--heading {
      font-size: 1.5rem;
      background-image: linear-gradient(to bottom, #00edd2, #0065e9);
      color: whitesmoke;
      border-radius: 60px;
      padding: 15px;
      box-shadow: 3px 3px 10px black; }
    .about_me__education > h3 {
      text-align: left;
      justify-self: start; }
    .about_me__education > p {
      text-align: left;
      font-size: 130%;
      background-image: linear-gradient(to bottom, #00edd2, #0065e9);
      background-clip: text;
      -webkit-background-clip: text;
      -ms-background-clip: text;
      -moz-background-clip: text;
      color: transparent; }

#aboutMe {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: start;
  color: transparent; }

/******************** MY SKILLS SECTION ********************/
.my_skills {
  text-align: center;
  padding: 1rem;
  display: grid;
  grid-template-columns: .3fr .7fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center; }
  .my_skills__heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom, #00edd2, #0065e9);
    color: whitesmoke;
    border-radius: 60px;
    padding: 15px;
    box-shadow: 3px 3px 10px black; }
  .my_skills__icons {
    background-image: linear-gradient(to bottom, #00edd2, #0065e9);
    background-clip: text;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
    .my_skills__icons > figure {
      display: inline-block;
      margin: 3%; }
      .my_skills__icons > figure > figcaption {
        background-image: linear-gradient(to bottom, #00edd2, #0065e9);
        background-clip: text;
        -webkit-background-clip: text;
        -ms-background-clip: text;
        -moz-background-clip: text;
        color: transparent; }

#mySkills {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: start;
  color: transparent; }

/******************** MY PROJECTS SECTION ********************/
.my_projects {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "one two three"
 "four five six"
 "seven eight nine"; }
  .my_projects__heading {
    font-size: 1.5rem;
    width: 185px;
    background-image: linear-gradient(to bottom, #00edd2, #0065e9);
    color: whitesmoke;
    border-radius: 60px;
    padding: 15px;
    box-shadow: 3px 3px 10px black;
    margin: 1.5rem; }

.project-figure {
  background-image: url("imgs/natours.png");
  background-position: center;
  background-size: cover;
  transition: background-image .5s ease-in;
  -webkit-transition: background-image .5s ease-in;
  -moz-transition: background-image .5s ease-in;
  -o-transition: background-image .5s ease-in;
  grid-area: six; }
  .project-figure > a {
    outline: none;
    text-decoration: none; }
  .project-figure__img {
    object-fit: cover;
    width: 100%;
    height: 90%;
    transition: all .5s; }
  .project-figure__caption {
    text-align: center;
    transition: all .5s;
    width: 75%;
    font-size: 3vw;
    opacity: 0;
    color: whitesmoke; }
  .project-figure:hover .project-figure__caption {
    color: black;
    opacity: 1; }
  .project-figure:hover {
    filter: brightness(70%); }
  .project-figure:nth-child(2) {
    grid-area: one;
    background-image: url("imgs/budget.png");
    background-position: center;
    background-size: cover; }
  .project-figure:nth-child(3) {
    grid-area: two;
    background-image: url("imgs/food.png");
    background-position: center;
    background-size: cover; }
  .project-figure:nth-child(4) {
    grid-area: three;
    background: url("imgs/candy-small.png");
    background-position: center;
    background-size: cover; }
  .project-figure:nth-child(5) {
    grid-area: four;
    background-image: url("imgs/score.png");
    background-position: center;
    background-size: cover; }
  .project-figure:nth-child(6) {
    grid-area: five;
    background-image: url("imgs/weather.png");
    background-position: center;
    background-size: cover; }
  .project-figure:hover {
    background-image: linear-gradient(to bottom, #00edd2, #0065e9); }
  .project-figure > a > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

#myProjects {
  align-self: start;
  color: transparent; }

/******************** MY CONTACT SECTION ********************/
.my_contact__heading {
  font-size: 1.5rem;
  width: 185px;
  background-image: linear-gradient(to bottom, #00edd2, #0065e9);
  color: whitesmoke;
  border-radius: 60px;
  padding: 15px;
  box-shadow: 3px 3px 10px black;
  margin: 1.5rem;
  display: inline-block; }

.my_contact > p, .my_contact > a {
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  background-image: linear-gradient(to bottom, #00edd2, #0065e9);
  background-clip: text;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  display: inline;
  font-size: 2em;
  transition: all .5s;
  display: inline-block; }

.my_contact > a:hover {
  font-size: 4rem; }

#references {
  text-decoration: underline; }

.icon_references > div {
  background-image: linear-gradient(to bottom, #00edd2, #0065e9);
  background-clip: text;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  padding-left: 1.5rem; }
  .icon_references > div:nth-child(6) {
    padding-bottom: 1.5rem; }

@media only screen and (min-width: 600px) {
  .header {
    grid-template-columns: 1fr 100px 1fr 1fr 2%; }
  .navbar__link--1 {
    font-size: 2.5vw; }
  .navbar__link--2 {
    font-size: 2.5vw; }
  .navbar__link--3 {
    font-size: 2.5vw; }
  .navbar__link--4 {
    font-size: 2.5vw; } }

@media only screen and (min-width: 1000px) {
  .header__main {
    grid-column: 3 / 5; } }

.navbar__link--1 {
  color: #FFFAFA;
  text-decoration: none;
  justify-self: end;
  grid-row: 4 / -1;
  grid-column: 1 / 2; }

.navbar__link--1:hover hr {
  width: 8rem; }

.navbar__link--2 {
  color: #FFFAFA;
  text-decoration: none;
  justify-self: start;
  align-self: start;
  grid-column: 2 / 3;
  grid-row: 3 / 4; }

.navbar__link--2:hover hr {
  width: 8rem; }

.navbar__link--3 {
  color: #FFFAFA;
  text-decoration: none;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  justify-self: end; }

.navbar__link--3:hover hr {
  width: 8rem; }

.navbar__link--4 {
  color: #FFFAFA;
  text-decoration: none;
  justify-self: start;
  grid-row: 4 / -1;
  grid-column: 4 / 5; }

.navbar__link--4:hover hr {
  width: 8rem; }

@media only screen and (max-width: 600px) {
  .header__main {
    font-size: 1rem; }
  .navbar__link--1 {
    font-size: 1rem;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    align-self: center;
    justify-self: start; }
  .navbar__link--2 {
    font-size: 1rem;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    align-self: start;
    justify-self: center; }
  .navbar__link--3 {
    font-size: 1rem;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    align-self: start;
    justify-self: start; }
  .navbar__link--4 {
    font-size: 1rem;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    align-self: center;
    justify-self: center; } }

@media only screen and (min-width: 1100px) {
  .navbar__link--1 {
    align-self: center; }
  .navbar__link--2 {
    align-self: end; }
  .navbar__link--3 {
    align-self: end; }
  .navbar__link--4 {
    align-self: center; } }

@media only screen and (max-width: 800px) {
  .about_me {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
    .about_me__info {
      grid-column: 1 / 2; } }

@media only screen and (max-width: 800px) {
  .about_me {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto; }
    .about_me__heading {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      align-self: start;
      justify-self: start;
      font-size: 1rem; }
    .about_me__info {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      align-self: center;
      justify-self: center; }
    .about_me__icon {
      grid-row: 3 / 4; }
    .about_me__education {
      grid-column: 1 / 2;
      grid-row: 4 / 5; }
      .about_me__education--heading {
        font-size: 1rem; } }

@media only screen and (max-width: 650px) {
  .my_skills {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
    .my_skills__heading {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    .my_skills__icons {
      grid-column: 1 / 2;
      grid-row: 2 / 3; } }

@media only screen and (min-width: 750px) and (max-width: 1000px) {
  .my_projects {
    height: 70vh; } }

@media only screen and (max-width: 750px) {
  .my_projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 120vh; }
  .project-figure {
    grid-column: 2 / 3;
    grid-row: 3 / 4; }
    .project-figure__caption {
      font-size: 1.5rem; }
    .project-figure:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
    .project-figure:nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 3 / 4; }
    .project-figure:nth-child(4) {
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
    .project-figure:nth-child(5) {
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
    .project-figure:nth-child(6) {
      grid-column: 1 / 2;
      grid-row: 1 / 2; } }

@media only screen and (max-width: 450px) {
  .my_projects {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 300vh; }
  .project-figure {
    grid-column: 1 / 2;
    grid-row: 6 / 7; }
    .project-figure__caption {
      font-size: 1.5rem; }
    .project-figure:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
    .project-figure:nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 3 / 4; }
    .project-figure:nth-child(4) {
      grid-column: 1 / 2;
      grid-row: 4 / 5; }
    .project-figure:nth-child(5) {
      grid-column: 1 / 2;
      grid-row: 5 / 6; }
    .project-figure:nth-child(6) {
      grid-column: 1 / 2;
      grid-row: 1 / 2; } }
