$small-font-size: 1rem;
$medium-font-size-vw: 2.5vw;

$hover-width: 8rem;

$light-blue-gradient: linear-gradient(to bottom, rgba(0, 237, 210, .2), rgba(0, 174, 233, .2));
$blue-gradient: linear-gradient(to bottom, rgba(0, 237, 210, 1), rgb(0, 101, 233));
$green-gradient: linear-gradient(to right, #7ed56f, #28b485);